<div class="container my-5">
  <h1 class="h1 text-center">Stock Data</h1>
  <div class="d-flex justify-content-center my-3">
    <label class="form-label" for="symbol">Enter Stock Symbol:</label>
    <input class="form-control w-50 mx-3" type="text" id="symbol" [(ngModel)]="symbol" placeholder="eg: AMZN" />
    <button class="btn btn-info" (click)="getStockData()">Get Data</button>
  </div>

  <div class="container" *ngIf="data">
    <section class="mx-auto my-5" style="max-width: 23rem;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">{{data.symbol}}</h5>
          <p class="card-text">{{data.name}}</p>
          <div class="d-flex justify-content-between">
            <p class="display-1 degree">{{data.price}}</p>
            <i class="fas fa-sun-o fa-5x pt-3 text-warning"></i>
          </div>
          <div class="progress">
            <div class="progress-bar bg-black" role="progressbar" [style.width.%]="40" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="my-3">
            <table class="table table-borderless table-sm mb-0">
              <tbody>
                <tr
                  *ngFor="let field of ['previousClose', 'open', 'bid', 'ask', 'marketCap', 'volume', 'dayRange', 'peRatio', 'epsRatio']">
                  <td class="font-weight-normal align-middle">{{field | label}}</td>
                  <td class="float-end font-weight-normal">
                    <p class="mb-1">{{data?.[field]}}</p>
                  </td>
                  <td class="float-end me-3"><i
                      class="fas fa-{{field === 'price' ? 'sun-o' : 'cloud-sun-rain'}} fa-lg text-{{field === 'price' ? 'warning' : 'info'}}"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<router-outlet></router-outlet>